
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="homeStylesheet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="details.css">
  <style>
    body{
      background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.hdwallpapers.in%2Fwalls%2Flight_blaze_hd_1080p-HD.jpg&f=1&nofb=1);
      background-size: 100% 100%;
    }
  </style>

</head>
<body>

   <nav >
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Cineplox</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="Firstpage.html">Home</a></li>
        <li><a href="home.html">Book Movies</a></li>
        <li><a href="login.html">Login</a></li>
        
      </ul>
    </div>
  </nav>


<div class="container cc" align="center">
  <div class="row">    
    <div class="col-xs-12">

      <div class="card">                

        <div class="card-modal"><h3>MOVIE NAME</h3></div>
        
        <div class="card-info">
          
          <div class="name">
            <p>RATING: </p> 
          </div>
          
          <div class="content">
            <p><b>GENRE:</b> Horror</p>
            <p><b>CAST:</b> Channing Tatum</p>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="container bg">
<h3>NOW SHOWING</h3>
<table class="rwd-table">
  <tr>
    <th>THEATRE</th>
    <th>LOCATION</th>
    <th>DATE</th>
    <th>TIME</th>
    <th></th>
  </tr>
  <tr>
    <td data-th="Movie Title">Star Wars</td>
    <td data-th="Genre">Adventure, Sci-fi</td>
    <td data-th="Year">1977</td>
    <td data-th="Gross">$460,935,665</td>
    <td><a href="form.html" class="btn btn-2">Book Now</a></td>
  </tr>
  <tr>
    <td data-th="Movie Title">Howard The Duck</td>
    <td data-th="Genre">"Comedy"</td>
    <td data-th="Year">1986</td>
    <td data-th="Gross">$16,295,774</td>
    <td><a href="form.html" class="btn btn-2">Book now</a></td>
  </tr>
  <tr>
    <td data-th="Movie Title">American Graffiti</td>
    <td data-th="Genre">Comedy, Drama</td>
    <td data-th="Year">1973</td>
    <td data-th="Gross">$115,000,000</td>
    <td><a href="form.html" class="btn btn-2">Book now</a></td>
  </tr>
</table>
</div>



</body>
</html>