<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../homeStylesheet.css">
  <link rel="stylesheet" type="text/css" href="../firstpage.css">
  <link rel="stylesheet" href="../materialize.min.css">
  <style>
    body{
      background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.SwWeUdiQnPMp-pF_OKLMfAHaFB%26pid%3DApi&f=1);
      background-size: 100% 100%;
    }
  </style>

</head>
<body>

   <nav >
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Cineplox</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="/">Book Movies</a></li>
        <li><a href="/login">Login</a></li>
        
      </ul>
    </div>
  </nav>

<!-- Hovering Cards -->
<h1><b><font color="white">Cineplox Cinemas</font></b></h1>
<p><b><font color="white">World class amenities for pleasurable viewing experience</font></b></p>
<p><font color="white" class="a">
  Grab the popcorn and head to you nearest theatre. Its movies-galore.
</font>
</p>

<div class="images">
 <div id="slider">
<figure>
<img src="https://i.ibb.co/5ndjdFF/1.jpg" alt>
<img src="https://i.ibb.co/zJhGt8w/2.jpg" alt>
<img src="https://i.ibb.co/KFg1sM0/6.jpg" alt>
<img src="https://i.ibb.co/n1KH8mh/4.png" alt>
<img src="https://i.ibb.co/FKj8ZJW/7.jpg" alt>
</figure>
</div>
</div>
<br>
<br>
<br>
<div class="a">
<p><font color="white">You're just one step away from watching your favorite movie. So what are you waiting for? <a href="/home">Book</a> a movie now.</font></p>
</div>

   <script type="text/javascript" src="../frontEnd/home.js"></script>
</body>
</html>