<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="../homeStylesheet.css">
  <link rel="stylesheet" type="text/css" href="../materialize.min.css">
  <style>
    body{
      background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.anband.spb.ru%2Fimages%2F000%2FDSC100076303.jpg&f=1&nofb=1);
      background-size: 100% 100%;
    }
  </style>

</head>
<body>

   <nav >
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Cineplox</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#">Book Movies</a></li>
        <li><a href="/login">Login</a></li>
        
      </ul>
    </div>
  </nav>

<!-- Hovering Cards -->
<h1><b><font color="white">What would you like to watch?</font></b></h1>
<p><b><font color="white">Now Showing</font></b></p>

<section class="main">

  <div class="wrap wrap--1">
    <a href="/home/1"
    <div class="containerr container--1 one">
      <p><font color="white"><b>FAST AND FURIOUS 7</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--2">
      <a href="/home/2"
    <div class="containerr container--2 two">
      <p><font color="white"><b>THE JUNGLE BOOK</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--3">
      <a href="/home/3"
    <div class="containerr container--3 three">
      <p><font color="white"><b>EDGE OF TOMORROW</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--4">
      <a href="/home/4"
    <div class="containerr container--4 four">
      <p><font color="white"><b>THE MATRIX</b></font></p>
    </div></a>
  </div>

 

</section>


<section class="main">

  <div class="wrap wrap--5">
      <a href="/home/5"
    <div class="containerr container--5 five">
      <p><font color="white"><b>JOHN WICK</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--6">
      <a href="/home/6"
    <div class="containerr container--6 six">
      <p><font color="white"><b>RAMPAGE</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--7">
      <a href="/home/7"
    <div class="containerr container--7 seven">
      <p><font color="white"><b>SHUTTER ISLAND</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--8">
      <a href="/home/8"
    <div class="containerr container--8 eight">
      <p><font color="white"><b>THE INTERVIEW</b></font></p>
    </div></a>
  </div>

 

</section>

<section class="main">

  <div class="wrap wrap--9">
      <a href="/home/9"
    <div class="containerr container--9 nine">
      <p><font color="white"><b>GET OUT</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--10">
      <a href="/home/10"
    <div class="containerr container--10 ten">
      <p><font color="white"><b>BIG HERO 6</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--11">
      <a href="/home/11"
    <div class="containerr container--11 eleven">
      <p><font color="white"><b>THE TERMINAL</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--12">
      <a href="/home/12"
    <div class="containerr container--12 twelve">
      <p><font color="white"><b>INTER STELLAR</b></font></p>
    </div></a>
  </div>

 

</section>

<section class="main">

  <div class="wrap wrap--13">
      <a href="/home/13"
    <div class="containerr container--13 thirteen">
      <p><font color="white"><b>SLUMDOG MILLIONAIRE</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--14">
      <a href="/home/14"
    <div class="containerr container--14 fourteen">
      <p><font color="white"><b>MISSION IMPOSSIBLE ROGUE NATION</b></font></p>
    </div><a href="/home/14"
  </div>

  <div class="wrap wrap--15">
      <a href="/home/15"
    <div class="containerr container--15 fifteen">
      <p><font color="white"><b>SPECTRE: BOND</b></font></p>
    </div></a>
  </div>

  <div class="wrap wrap--16">
    <div class="containerr container--16 sixteen">
      <p><font color="white"><b>IT CHAPTER 1</b></font></p>
    </div>
  </div>

 

</section>


<section class="main">

  <div class="wrap wrap--17">
    <div class="containerr container--17 seventeen">
      <p><font color="white"><b>AVENGERS INFINITY WAR</b></font></p>
    </div>
  </div>

  <div class="wrap wrap--18">
    <div class="containerr container--18 eighteen">
      <p><font color="white"><b>SONY'S VENOM</b></font></p>
    </div>
  </div>

  <div class="wrap wrap--19">
    <div class="containerr container--19 nineteen">
      <p><font color="white"><b>DISNEY'S COCO</b></font></p>
    </div>
  </div>

  <div class="wrap wrap--20">
    <div class="containerr container--20 twenty">
      <p><font color="white"><b>CINDERALLA</b></font></p>
    </div>
  </div>
</section>


<h5>
<p><b><font color="white">Upcoming Movies</font></b></p></h5>
<section class="main">

  <div class="wrap wrap--21">
    <div class="containerr container--21 twentyone">
      <p><font color="white"><b>INCEPTION</b></font></p>
    </div>
  </div>

  <div class="wrap wrap--22">
    <div class="containerr container--22 twentytwo">
      <p><font color="white"><b>SPIDERMAN HOMECOMING</b></font></p>
    </div>
  </div>

  <div class="wrap wrap--23">
    <div class="containerr container--23 twentythree">
      <p><font color="white"><b>EL CAMINO</b></font></p>
    </div>
  </div>

  <div class="wrap wrap--24">
    <div class="containerr container--24 twentyfour">
      <p><font color="white"><b>GONE GIRL</b></font></p>
    </div>
  </div>
</section>

   <script type="text/javascript" src="../home.js"></script>

</body>
</html>